{
    acme_ca {$CAISSUER}
    log {
        level INFO
        output stdout
    }
}
{$BACKEND_URL} {
    @notStatic {
        not path /static/*
    }
    reverse_proxy @notStatic backend:8000
    file_server /srv/static/*
}
{$FRONTEND_URL} {
    reverse_proxy frontend:8080
}
{$DOCS_URL} {
    reverse_proxy docs:8081
}
{$STYLEGUIDE_URL} {
    reverse_proxy styleguide:8082
}